@model MemberViewModel

<nav class="side">
    <ul class="pages">
        <li class="users">
            @Html.ActionLink("Information", "show", new { id = Model.Id })
        </li>
        <li class="roles">
            @Html.ActionLink("Permissions", "roles", new { id = Model.Id })
        </li>
        <li class="photos">
            @Html.ActionLink("Photos", "photos", new { id = Model.Id })
        </li>
    </ul>
    <ul class="actions">
        <li class="users">
            @Html.ActionLink("Lock", "lock", new { id = Model.Id })
        </li>
        <li class="users">
            @Html.ActionLink("Reset Password", "password", new { id = Model.Id })
        </li>
        <li class="users">
            @Html.ActionLink("Archive", "archive", new { id = Model.Id })
        </li>
        <li class="photos">
            @Html.ActionLink("Upload Photo", "upload", new { id = Model.Id })
        </li>
    </ul>
</nav>
