@model MemberViewModel

<article class="user @ViewData["class"]">
    <img src="/assets/images/noprofile.png" />

    <div class="info">
        <div class="heading">
            <strong>@Model.FullName</strong>
            <span class="info">@Model.UserName</span>
        </div>

        <div class="detail">
            <span class="phone">@Model.ContactNumber</span>
            <span class="email"><a href="mailto:@Model.Email">@Model.Email</a></span>
        </div>
    </div>
            
    <ul>
        <li>@Html.ActionLink("lock", "lock", new { id = Model.Id })</li>
        <li>@Html.ActionLink("open", "show", new { id = Model.Id })</li>
    </ul>
</article>